:root {
    --void-font-sans: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --void-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--void-font-sans);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

button {
    outline: none;
}

* {
    margin: 0;
    padding: 0;
}

*, *::after, *::before {
    box-sizing: border-box;
}

.void-flex {
    display: flex;
}

.void-align-center-horizontal {
    display: flex;
    justify-content: center;
}

.void-align-center-vertical {
    display: flex;
    align-items: center;
}

.void-align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
