::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #13121b;

}

::-webkit-scrollbar-thumb {
    background: #3b3a46;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(195, 194, 194); 
}

@font-face {
    font-family: cubano;
    src: url(Cubano.ttf);
}

body {
    background: #13121b;
    color: white;
}

.main {
    background: #13121b;
    width: 100%;
    height: calc(100vh - 150px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.main .wrapper {
    text-align: center;
    color: white;
}

.main .wrapper h1 {
    padding-bottom: 10px;
    font-size: 40px;
    font-family: cubano;
}

.main .wrapper p {
    font-size: 20px;
    color: #767679;
}

.arrows {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    width: 6px;
    height: 30px;
    border-radius: 5px;
    background-color: #a8a8a9;
    margin: 6px;
    color: transparent
}

.arrow {
    animation: move 1.5s infinite ease-in-out;
}

.arrows span:nth-of-type(1) {
    transform: rotate(-45deg) !important;
}

.arrows span:nth-of-type(2) {
    transform: rotate(45deg) !important;
}

@keyframes move {
    0% {
        margin-top: 0;
    }
    50% {
        margin-top: 10px;
    }
    100% {
        margin-top: 0
    }
}

.nav {
    padding: 20px;
    color: white;
    font-family: cubano;
    display: flex;
    align-items: center;
}

.nav a {
    color: white;
}

.nav-left h1 {
    transition: 0.2s;
    margin-top: -5px;
}

.nav-left h1:hover {
    color: lime;
}

.nav-side {
    width: 50%;
    display: flex;
    align-items: center;
}

.nav-right {
    justify-content: flex-end;
}

.nav-right > * {
    margin-left: 20px;
    padding-bottom: 2px;
    transition: 0.2s;
}

@media(max-width: 320px) {
    .nav-right a:not(.nav-right .button) {
        display: none;
    }
}

.nav-right .link:hover {
    color: lime;
    border-bottom: 2px solid lime;
}

.nav-right .button {
    transition: 0.2s;
}

.nav-right .button:hover {
    background: lime;
}

.nav-right .button {
    color: #13121b !important;
}

.button {
    background: white;
    font-family: cubano;
    color: #13121b;
    padding: 10px;
}

.button:hover {
    background: lime;
}

@media(max-width: 475px) {
    .nav-side {
        width: auto;
    }
    .nav-right {
        width: max-content;
        flex-grow: 1;
    }
    .main span {
        display: block;
        height: 50px;
    }
}

@media(max-width: 370px) {
    .main h1 {
        font-size: 35px !important;
    }
    .main p {
        font-size: 18px !important;
    }
}

.more {
    width: 100%;
    text-align: center;
    margin-top: -50px;
    padding-bottom: 60px;
    position: absolute;
}

.more h2 {
    color: white;
    font-family: cubano;
}

.showcase {
    color: white;
    padding-bottom: 50px;
}

.showcase h1 {
    text-align: center;
}

.showcase h1 {
    padding: 40px;
    padding-top: 100px;
    font-family: cubano;
}

.showcase h2 {
    font-family: cubano;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.card:not(.card:last-of-type) {
    width: 300px;
}

.card .title {
    background: white;
    color: #13121b;
    padding: 10px;
    width: fit-content;
    margin-bottom: 15px;
    transition: 0.2s;
}

.card:nth-child(1), .card:nth-child(2) {
    margin-right: 30px;
}

.card .title:hover {
    background: lime;
}

.card p {
    color: #767679;
}

@media(max-width: 1024px) {
    .cards {
        flex-wrap: wrap;
        padding: 50px;
    }
    .card {
        flex-grow: 2;
        width: 380px !important;
    }
    .card:nth-child(2) {
        margin-right: 0 !important;
    }
    .card:nth-child(1), .card:nth-child(2) {
        margin-bottom: 40px;
    }
    .dummy {
        width: 400px !important;
    }
    /*
    .card:last-of-type {
        box-sizing: border-box;
        width: 100%;
    }
    */
}

@media(max-width: 890px) {
    .cards {
        display: block;
        /*text-align: center;*/
    }
    .card {
        margin: auto !important;
        margin-bottom: 40px !important;
        box-sizing: border-box;
    }
    /*
    .card .title {
        margin: auto !important;
        margin-bottom: 15px !important;
    }
    */
    .card:nth-child(2) {
        margin-right: auto !important;
    }
    .dummy {
        width: 0 !important;
    }
}

@media(max-width: 480px) {
    .cards {
        padding: 30px;
        text-align: center;
    }
    .card {
        width: 100% !important;
    }
    .card .title {
        margin: auto !important;
        margin-bottom: 15px !important;
    }
}

@media(max-width: 380px) {
    .cards {
        padding: 20px;
    }
}



.contact {
    padding: 50px;
}

.contact .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin: auto;
    max-width: 900px;
}

.contact .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.contact a {
    text-decoration: none;
    color: white;
}

.contact i {
    font-size: 45px;
    color: white;
    transition: 0.2s;
}

@media(max-width: 800px) {
    .contact i {
        font-size: 40px;
    }
}

@media(max-width: 640px) {
    .contact i {
        font-size: 35px;
    }
}

@media(max-width: 550px) {
    .contact i {
        font-size: 30px;
    }
}

@media(max-width: 350px) {
    .contact i {
        font-size: 25px;
    }
}

.contact i:hover {
    color: lime;
}

@media(max-width: 430px) {
    .contact {
        padding: 20px !important;
    }
}



.get-started {
    padding: 20px;
}


.get-started h1 {
    font-family: cubano;
    text-align: center;
    padding: 40px;
    padding-bottom: 20px;
}

.get-started h2 {
    font-family: cubano;
    text-align: center;
    padding-bottom: 100px;
}

.get-started .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    margin: auto;
}

.get-started .info {
    align-self: flex-start;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.get-started .info .inner {
    width: fit-content;
}

.get-started .info a {
    box-sizing: border-box;
    display: block;
    width: fit-content;
    margin-bottom: 15px;
}

.get-started .info p {
    color: #767679;
    padding: 0;
    max-width: 500px;
}

.get-started .code {
    display: block;
    flex-grow: 1;
    min-width: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 600;
    font-size: 18px;
    color: #9a9ea7;
    line-height: 20px;
}

.get-started .code .type {
    color: #7f7aa6;
}

.get-started .code .indent {
    width: 40px;
    height: 20px;
    float: left;
}

.get-started .code .indent2 {
    width: 80px;
    height: 20px;
    float: left;
}

.get-started .code .literal {
    color: #c6c5c4;
}

.get-started .code .string {
    color: #98c379;
}

.get-started .code .solid {
    color: #6a8cc0;
}

.get-started .code .light {
    color: #78a4b5;
}

.get-started .code .line {
    height: 15px;
    width: 20px;
}

@media(max-width: 1260px) {
    .get-started .wrapper {
        width: 100% !important;
    }
    .get-started {
        padding: 30px;
    }
}

@media(max-width: 960px) {
    .get-started .wrapper {
        display: block;
    }
    .get-started .info {
        width: 500px;
        margin: auto !important;
        margin-bottom: 50px !important;
    }
    .get-started .code {
        width: 500px;
        margin: auto !important;
    }
}

@media(max-width: 560px) {
    .get-started .info, .get-started .code {
        width: 100%;
    }
}

@media(max-width: 460px) {
    .get-started .code {
        font-size: 15px;
    }
    .get-started .code .indent {
        width: 30px;
    }
    .get-started .code .indent2 {
        width: 60px;
    }
}

@media(max-width: 390px) {
    .get-started .code {
        font-size: 14px;
    }
}

@media(max-width: 370px) {
    .get-started .code {
        font-size: 12px;
    }
    .get-started .code .indent {
        width: 20px;
    }
    .get-started .code .indent2 {
        width: 40px;
    }
}

@media(max-width: 320px) {
    .get-started .code {
        font-size: 10px;
    }
    .get-started .code .indent {
        width: 15px;
    }
    .get-started .code .indent2 {
        width: 30px;
    }
}

br {
    content: "";
    margin: 2em;
    display: block;
    font-size: 14%;
}

.footer {
    text-align: center;
    color: #767679;
    padding: 20px;
}



.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.quote p {
    color: #767679;
}

.quote i {
    color: #767679;
}

.quote .icon {
    display: flex;
    justify-content: center;
}

.quote .right {
    align-items: flex-end;
}

.quote .content {
    display: flex;
}

.quote .content .text {
    padding: 20px;
}

.quote .author {
    text-align: right;
    padding: 10px;
    font-style: italic;
}

.quote .author span {
    transform: translateY(-7px) !important;
    margin-right: 3px;
    display: inline-block;
}



.not-found {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.not-found .wrapper {
    padding: 30px;
}

.not-found h1 {
    font-weight: 400;
    width: fit-content;
    padding: 10px 15px;
    margin-bottom: 15px;
}

.not-found p {
    color: #767679;
    font-size: 20px;
}

.docs {
    display: flex;
    height: calc(100vh - 80px);
    overflow: auto;
}

.docs::-webkit-scrollbar {
    height: 0;
}       

.sidebar {
    background: #1a1826;
    background: #242236;
    background: #1d1f21;
    background: #1e222f;
    width: 300px;
    min-width: 300px;
    padding: 20px 0;
    overflow: auto;
    scrollbar-color: #000000 #ffffff; 
}

.sidebar::-webkit-scrollbar {
    width: 5px;
}       

.sidebar::-webkit-scrollbar-track {
    background: #13121b;
}

.sidebar::-webkit-scrollbar-thumb {
    background: #6c6a7b;
    border-radius: 0;
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background-color: #555555; 
}

.sidebar .category {
    padding: 0 20px;
}

.sidebar .category h1, .sidebar .category h2 {
    font-weight: 400;
    font-size: 16px;
    padding: 5px 0;
    transition: 0.2s;
    cursor: pointer;
    color: #dbdbdd;
}

.sidebar .category h1:hover, .sidebar .category h2:hover {
    color: #8abeb7;
}

.sidebar .category .active {
    color: #8abeb7;
}

.sidebar .category h2 {
    padding-left: 20px;
}

.docs .content {
    background: #1e222f;
    width: calc(100% - 300px);
    min-width: 300px;
    padding: 20px;
    overflow-y: auto;
}

@media (max-width: 800px) {
    .docs .content {
        min-width: calc(100vw);
    }
    ::-webkit-scrollbar {
        width: 0px !important;
    }    
}

.docs .content .wrapper {
    max-width: 800px;
    margin: auto;
}

.docs .content p {
    word-wrap: break-word;
    font-size: 18px;
    color: #bcbdd0;
    padding-bottom: 20px;
}

.docs .content h2 {
    padding-bottom: 20px;
    color: #bcbdd0;
    cursor: pointer;
}

.docs .content h3 {
    padding-bottom: 20px;
    color: #bcbdd0;
    cursor: pointer;
    font-size: 1.3em;
}


.docs .content a {
    padding-bottom: 20px;
    color: #8abeb7;
    box-sizing: border-box;
    display: block;
}

.docs .content .backticks {
    background: #1d1f21;
    color: #c5c8c6;
    padding: 0.1em 0.3em;
    border-radius: 3px;
    font-size: 80%;
}

.docs .content .code {
    color: #9a9ea7;
    font-family: 'Ubuntu Mono', monospace;
    white-space: pre;
    line-height: 20px;
}

::-moz-selection {
    background: #80808052;
    color: #eeeeee;
}
  
::selection {
    background: #80808052;
    color: #eeeeee;
}

.docs .content .block {
    background: #1d1f21;
    border-radius: 3px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    overflow: auto;
    white-space: nowrap;
}

.docs .content .block .default { color: #9a9ea7 }
.docs .content .block .keyword { color: #7f7aa6 }
.docs .content .block .operator { color: #78a4b5 }
.docs .content .block .string { color: #98c379 }
.docs .content .block .literal { color: #c6c5c4 }
.docs .content .block .error { color: #a83232 }
.docs .content .block .method { color: #6a8cc0 }
.docs .content .block .type { color: #e1c46c }
.docs .content .block .comment { color: #545454 }

.docs .content .block::-webkit-scrollbar {
    height: 2px;
}

.docs .content ul {
    margin-bottom: 20px;
}

.docs .content .terminal {
    color: #c5c8c6;
}

.docs .content .light {
    color: #bcbdd0;
}

.space {
    height: 100vh;
}
